{# templates/register/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Formulaire d'inscription</h1>
    {{ form_start(registerFormType) }}
    {{ form_row(registerFormType.email) }}
    {{ form_row(registerFormType.password) }}
    <button type="submit">S'inscrire</button>
    {{ form_end(registerFormType) }}
{% endblock %}
